/* general styling */
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* css variables */
:root{
    --accentColor:#db87e2;
    --lightColor: rgba(255, 255, 255, 0.63);
    --darkColor: #eebade;
  
 
    --accentFont: 'Lobster', cursive;
    --mainFont: arial, Helvetica, sans-serif;
}

#header {
    font-family: var(--accentFont);
    color: var(--lightColor);
}

#navbar {
    background-color: var(--accentColor);
}

nav.div.ul.li {
    font-family: var(--mainFont);
    color: var(--lightColor);
}

.headerTitle {
    font-family: var(--accentFont);
}



#background {
    background-color: var(--darkColor);
}

.accentText {
    font-family: var(--accentFont);
}


.buttonStyle {
    background: none;
	color: var(--accentColor);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

main {
    background-color: var(--darkColor);
}


button {
    position: relative;
    float: right;
    color: white;
    margin-right: 20px;
}

button:hover {
    opacity: 1;  
}

.btn1 {
    background-color: var(--accentColor);
}

.btn2{
    background-color: var(--darkColor);
}


li{
    list-style-type: none;
}

.removeHref{
    text-decoration: none;
}

.link {
	text-decoration: none;
	color:white;
}

.link:hover{
    color: white;
}

.cardBack{
    background-color: var(--lightColor);
}

.accentBack{
    background-color: var(--accentColor);
}

